.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  z-index: var(--z-index-menu);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
  padding-top: var(--other-margin);
  color: var(--black);
  pointer-events: none;

  h1,
  .menu {
    pointer-events: all;
    white-space: nowrap;
    font-weight: normal;

    button {
      all: unset;
      cursor: pointer;
    }
  }

  h1 {
    flex: 1 1 100%;

    span {
      margin-left: 1rem;
    }
  }

  .menu {
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: var(--line-height);
  }

  a {
    color: inherit;
  }
}