.about {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--z-index-about);
	background-color: var(--black);
	color: var(--white);
	pointer-events: none;
	transform: translateY(-100%);
	transition: transform 0.3s ease-out;

	&.show {
		transform: translateY(0);
		pointer-events: all;
	}

	h2 {
		font-style: italic;
	}

	> div {
		flex: 0 0 50%;
	}

	.contact {
		line-height: var(--line-height);
		list-style: none;
		column-count: 3;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.content {
		padding: var(--outer-margin);
		padding-top: calc(var(--outer-margin) * 2);
		color: var(--white) !important;
		z-index: 101;
		max-height: 100vh;
		overflow-y: scroll;

		p {
			font-size: 1.25rem;
		}

		a {
			color: var(--white) !important;
		}

		> div {
			flex: 0 0 50%;
		}

		.headcom {
			padding-top: 1rem;
		}

		ul.commissioners {
			line-height: var(--line-height);

			margin-top: 1rem;
			list-style: none;
			column-count: 3;
			li {
				padding-bottom: 0.25em;
				margin-left: 1em;
				text-indent: -1em;
			}
		}
	}

	.internships {
		margin-top: 2rem;
		margin-bottom: 2rem;
		i {
			padding-right: 1em;
		}
	}
}
