.swiper {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100dvh;
	cursor: pointer;
}

.slide {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	@include mq($until: tablet) {
		position: relative;
	}
}

.slidewrap {
	position: relative;
	height: 100%;
	height: 100dvh;
	width: 100%;
	max-height: 100dvh;
	max-width: 100vw;

	h2 {
		position: absolute;
		left: 0;
		top: 1rem;
		transform: translateX(-50%);
		margin-bottom: calc(1.5 * var(--other-margin));
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.8rem;
		padding-bottom: 0rem;
		line-height: 1;
		border-radius: 0;
		color: var(--black);
		z-index: 10;
		border: 0px;
		text-align: center;

		transition: opacity 0.8s;

		@include mq($from: tablet) {
			white-space: nowrap;
		}

		@include mq($until: tablet) {
			line-height: calc(0.9 * var(--line-height));
			border-radius: 1rem;
			border: 0px;
			width: 100%;
		}

		&.fill {
			background-color: var(--white);
			color: var(--black) !important;
			padding-bottom: 0.7rem;
			max-width: calc(100% - (2 * var(--other-margin)));
			margin-right: var(--other-margin);
			border: 0px !important;
			padding-right: 1em;
			padding-left: 1em;
		}

		&.transparent {
			background-color: transparent;
		}

		a {
			color: inherit !important;
		}
	}
}

.arrow {
	display: none;
}

.prev,
.next {
	all: unset;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	height: 100%;
	width: 50%;
	z-index: 1;
	background-color: transparent !important;
	border: 0;
	cursor: pointer;
	outline: none;
	color: var(--white);
	font-size: 3rem;
	opacity: 0;

	&.show {
		opacity: 1;
	}

	@include mq($until: desktop) {
		display: none;
	}
}

.prev {
	justify-content: center;
	align-items: flex-start;
	left: var(--outer-margin);
}

.next {
	justify-content: center;
	align-items: flex-end;
	right: var(--outer-margin);
}
