.intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: var(--z-index-intro);
	//background-color: var(--white);
	color: var(--white);

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		line-height: 1;
	}

	.and {
		display: inline-block;
		transform-origin: center center;
		animation: rotate-z-3d 5s linear infinite;
		transform-style: preserve-3d;
		//color: red;
	}

	h2 {
		position: absolute;
		margin-top: 1em;
		display: none;
	}

	@keyframes rotate-z-3d {
		from {
			transform: rotateY(0deg);
		}
		to {
			transform: rotateY(360deg);
		}
	}

	@keyframes rgb-loop {
		0% {
			color: red;
		}
		33% {
			color: green;
		}
		66% {
			color: blue;
		}
		100% {
			color: red;
		}
	}
}
