.navbar {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: calc(100vw - var(--other-margin));
	z-index: var(--z-index-menu);
	padding-top: calc(0.6 * var(--other-margin));
	padding-left: var(--other-margin);
	color: var(--black);
	font-family: var(--headline-font);
	opacity: 0;
	transition: opacity 0.3s ease-out;

	&.show {
		opacity: 1;
	}

	button,
	.logo,
	a {
		transition: color 0.5s ease !important;
	}

	button {
		padding: 0;
		background-color: transparent;
		border: 0px;
		color: inherit;
		line-height: 1;

		&[data-enabled='true'] {
			font-style: italic;
		}
	}

	.logo {
		display: flex;

		button:nth-child(2) {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
	.filter {
	}
}
