.swiper {
	position: fixed !important;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100% !important;
	min-width: 100vw !important;
	height: var(--thumbnail-height) !important;
	z-index: var(--z-index-thumbs) !important;
	cursor: pointer;
	opacity: 1;
	//transition: all 0.3s ease-in-out;

	&.hide:not(:hover) {
		opacity: 0;
	}

	&:hover {
		opacity: 1;
		bottom: 0px !important;
	}

	.slide {
		position: relative;
		width: fit-content;
		cursor: pointer;
		transition: transform 0.1s ease-out;
		transform-origin: 50% 100%;

		&.active,
		&.hover {
			filter: grayscale(0);
		}

		&.hover {
			filter: grayscale(0);
			transform: scale(2);
			z-index: 10000;
		}

		img {
			height: var(--thumbnail-height);
			aspect-ratio: 16/9;
			cursor: pointer;
		}
	}
}
