.swiper {
  position: fixed !important;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-thumbs) !important;
  display: flex;
  width: 100% !important;
  min-width: 100vw !important;
  height: var(--thumbnail-height) !important;
  flex-direction: row;
  align-items: center;
  opacity: 1;
  cursor: pointer;

  &.hide:not(:hover) {
    opacity: 0;
  }

  &:hover {
    bottom: 0px !important;
    opacity: 1;
  }

  .slide {
    position: relative;
    width: fit-content;
    transform-origin: 50% 100%;
    transition: transform 0.1s ease-out;
    cursor: pointer;

    &.active,
    &.hover {
      filter: grayscale(0);
    }

    &.hover {
      z-index: 10000;
      filter: grayscale(0);
      transform: scale(2);
    }

    .image {
      aspect-ratio: 16/9;
      height: var(--thumbnail-height);
      transform: translateY(100%);
      transition: transform 0.7s cubic-bezier(0.083, 0.942, 0.046, 0.993);
      cursor: pointer;
      &.show {
        transform: translateY(0);
      }
    }
  }
}
