.swiper {
	position: fixed !important;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100% !important;
	min-width: 100vw !important;
	height: var(--thumbnail-height) !important;
	z-index: var(--z-index-thumbs) !important;
	cursor: pointer;
	overflow: visible;
	opacity: 1;

	&.hide:not(:hover) {
		opacity: 0;
	}

	&:hover {
		opacity: 1;
		bottom: 0px !important;
	}
}

.container {
	display: flex;
	height: 100%;
}

.slide {
	flex: 0 0 auto;
	position: relative;
	width: fit-content;
	cursor: pointer;
	aspect-ratio: 16/9;
	height: var(--thumbnail-height);
	overflow: visible;

	img {
		position: absolute;
		top: 0;
		left: 0;
		height: var(--thumbnail-height);
		width: calc(var(--thumbnail-height) * 16 / 9);
		cursor: pointer;

		&.hover {
			transition: transform 0.1s ease-out;
			transform: scale(1.5) !important;
			transform-origin: bottom;
			z-index: 10000;
		}
	}
}
