.externalLink {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	color: var(--black);
	opacity: 0;
	transform: translate(-50%, calc(-50% - 0.8rem));
	border-radius: 3rem;
}
