.slide {
	position: relative;
	height: 100%;
	height: 100dvh;
	width: 100%;
	max-height: 100dvh;
	max-width: 100vw;

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 50%;
		bottom: var(--thumbnail-height);
		height: 3rem;
		//border: 3px solid var(--black);
		border-radius: 3rem;
		padding: 0.5rem;
		margin: 0;
		//transform: translateX(-50%);
		margin-bottom: var(--other-margin); //0; //calc(1.5 * var(--other-margin));
		line-height: 1;
		color: var(--black);
		background-color: var(--white) !important;
		z-index: 10;
		text-align: center;
		opacity: 0;
		animation: fadeUp 1s ease-in-out 1s forwards;

		@keyframes fadeUp {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@include mq($from: tablet) {
			white-space: nowrap;
		}

		@include mq($until: tablet) {
			line-height: calc(0.9 * var(--line-height));
			border-radius: 1rem;
			width: 100%;
		}

		p {
			margin: 0;
		}

		a {
			color: inherit;
		}

		&.fill {
			background-color: var(--white);
			color: var(--black) !important;
			padding-bottom: 0.7rem;
			max-width: calc(100% - (2 * var(--other-margin)));
			margin-right: var(--other-margin);
			padding-left: 1.5em;
			padding-right: 1.5em;
		}

		&.transparent {
			background-color: transparent !important;
		}
	}
}
