@font-face {
  font-family: "Serif";
  src: url(/fonts/HALCasinoSerif-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Serif";
  src: url(/fonts/HALCasinoSerif-RegularItalic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mono";
  src: url(/fonts/HALCasinoMono-Regular.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url(/fonts/AHALCasinoSans-RegularItalic.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}
