@font-face {
  font-family: "AnselmTen";
  src: url(/fonts/AnselmRegular/2F602A_2_0.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AnselmTen";
  src: url(/fonts/AnselmItalic/2F5FB4_9_0.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AnselmTen Bold";
  src: url(/fonts/AnselmBold/2F5FB4_4_0.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AnselmTen Bold Italic";
  src: url(/fonts/AnselmBoldItalic/2F5FB4_2_0.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}